# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
BoatFly.java
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# geza3D's thingy

setupDecompWorkspace.bat
build.bat
eclipse.bat
